
{% extends 'base.html' %}

{% block content %}

<section id = "banner">
<div class="row row-centered text-center">
  {% for painting in banners %}
  <div class="col-md-6" style = "position: relative;
  text-align: center;
  color: black;">
    <img src="{{painting.image}}" alt="" width="400" height="400">
    <div class="centered">{% cycle 'This is Sothebys' 'The new way to shop art' %}</div>

  </div>
{% endfor %}
</div>
</section>


<section id ="recent_paintings">


  <div class="center-block section-heading align-center"> <span>Recently Added</span> </div>

<div class="row row-centered text-center">

{% for painting in latest_paintings %}

<div class="col-lg-4 col-md-4 center-block" style = "margin-top:10px;">

  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{{painting.image}}" height="200" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{painting.title}}</h5>
      <p class="card-text">{{painting.description}}</p>
      <a href="/product/{{painting.id}}" class="btn btn-primary">See Painting</a>
    </div>
  </div>

</div>
{% endfor %}
</div>
</section>

<section id ="About">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Untitled</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/styles.min.css">
</head>

<body>
    <div class="article-list">
        <div class="container">
            <div class="intro">
                <h1 class="text-center">What is Sothebys?</h1>
                <p class="text-center"></p>
            </div>
            <div class="row articles">
                <div class="col-sm-6 col-md-4 item"><a href="#"></a>
                    <h3 class="name">A one-of-a-kind marketplace</h3>
                    <p class="description">Sothebys is a global online marketplace, where people come together to create, sell, buy, and collect unique art.</p><a href="#" class="action"></a></div>
                <div class="col-sm-6 col-md-4 item"><a href="#"></a>
                    <h3 class="name">Support independent creators</h3>
                    <p class="description">There’s no Sothebys warehouse – just millions of people selling beautiful art they love. We make the whole process easy, helping you connect directly with makers and art dealers to find something extraordinary.</p><a href="#" class="action"></a></div>
                <div class="col-sm-6 col-md-4 item"><a href="#"></a>
                    <h3 class="name">Peace of mind</h3>
                    <p class="description">Your privacy is the highest priority of our dedicated team. And if you ever need assistance, we are always ready to step in for support.</p><a href="#" class="action"></a></div>
            </div>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</section>
{% endblock %}
