
{% extends 'base.html' %}

{% block content %}

<section id = "banner">
<div class="row row-centered text-center">
  {% for painting in banners %}
  <div class="col-md-6" style = "position: relative;
  text-align: center;
  color: black;">
    <img src="{{painting.image}}" alt="" width="400" height="400">
    <div class="centered">{% cycle 'This is Sothebys' 'The new way to shop art' %}</div>

  </div>
{% endfor %}
</div>
</section>


<section id ="recent_paintings">


  <div class="center-block section-heading align-center"> <span>Recently Added</span> </div>

<div class="row row-centered text-center">

{% for painting in latest_paintings %}

<div class="col-lg-4 col-md-4 center-block" style = "margin-top:10px;">

  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{{painting.image}}" height="200" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{painting.title}}</h5>
      <p class="card-text">{{painting.description}}</p>
      <a href="/product/{{painting.id}}" class="btn btn-primary">See Painting</a>
    </div>
  </div>

</div>
{% endfor %}
</div>
</section>
{% endblock %}
